<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.css" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
      <script>
          $(function() {
              $('#datepick').datepicker();
          });
      </script>
  </head>
  <body>
  <header><script type="text/javascript" src="events.ejs"></script>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/"><%= title %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      <a class="nav-link" href="/events">Ambulanzen <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  <div class="jumbotron">
      <p class="lead">Ambulanzen</p>
      <hr class="my-4">
  <table id="Lager" style="width:100%" border="1" >
      <thead>
      <tr>
          <th>Ambulanz</th>
          <th>Bemerkung</th>
          <th>Beginn</th>
          <th>Ende</th>
          <th>Administration durchgeführt</th>
      </tr>
      </thead>
      <tbody>
      <% print.forEach(function (events) { %>
      <tr>
          <td><%= events.Ambulanz %></td>
          <td><%= events.Bemerkung %></td>
          <td><%= events.Ambulanz_Beginn %></td>
          <td><%= events.Ambulanz_Ende %></td>
          <td><%= events.Abschluss_Admin %></td>
      </tr>
      <% }) %>
      </tbody>
  </table>
  </div>
  <form method="post" action="">
      <label for="event_name">Ambulanz: </label>
      <input type="text" name="event_name">
      <label for="event_bemerkung">Bemerkung: </label>
      <input type="text" name="event_bemerkung">
      <label for="event_start">Beginn: </label>
      <input type="text" id="datepick" name="event_start">
      <label for="event_end">Ende: </label>
      <input type="text" id="datepick" name="event_end">
      <input type="submit" value="Speichern">
  </form>


  </body>
</html>
